.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333A56 !important;
    color: white;
    text-align: center;
  }

i {
    font-size: 40px;
    margin: 15px;
    color: white;
}

.space {
    padding: 75px;
}

.jumbotron {
    background: none;
}

h1 {
    color: #333A56
}

.jumbotext {
    color: #52658F;
    font-size: 20px;
}

body {
    background-color: #F7F5E6;
}

.btn {
    background-color: #52658F;
    color:white;
    border:0px solid transparent;
}

.card {
    background-color: #e8e8e8;
}

/*@media screen and (max-width: 576px) {
.mediaq {
    float: none !important;
    display: 100% !important;
    display: block !important;
    
    }   
}*/
